.feedback__title {
  color: var(--dark-color);
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
}

.feedback__text {
  color: var(--dark-color);
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}
