.page {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-style: normal;
  font-weight: 400;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
}

.page__leveler {
  margin: 0 16px 0 16px;

  @media (min-width: $tablet) {
    margin: 0 76px;
  }
}

.page__leveler--tablet-off {
   @media (min-width: $tablet) {
    display: contents;
   }

}

.page__prices {
  margin-bottom: 50px;
}

.page__feedback {
  margin-bottom: 60px;
  background-color: var(--white-dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 50px 0;
  margin-bottom: 60px;

  @media (min-width: $tablet) {
    background: url("../../img/background/feedback-background@1x.png") no-repeat center;
    width: 768px;
  }
}

.page__footer {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 21px;
    align-items: center;
  }
}
