@import "./global/default.scss";
@import "./global/fonts.scss";
@import"./global/variables.scss";
@import "./blocks/page.scss";
@import "./blocks/header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/nav-list.scss";
@import "./blocks/intro.scss";
@import "./blocks/main.scss";
@import "./blocks/button.scss";
@import "./blocks/places.scss";
@import "./blocks/tabs.scss";
@import "./blocks/description.scss";
@import "./blocks/reviews.scss";
@import "./blocks/author.scss";
@import "./blocks/prices.scss";
@import "./blocks/contacts.scss";
@import "./blocks/features-list.scss";
@import "./blocks/feedback.scss";
@import "./blocks/form.scss";
@import "./blocks/next-trips.scss";
@import "./blocks/footer.scss";
@import "./blocks/corporate-trips.scss";
@import "./blocks/popup.scss";
@import "./blocks/overlay.scss";
@import "./blocks/swiper.scss";
